
#wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#container{
  display:flex;
}

header{
  width: 100%;
  height: 200px;
  background-color: #B5EBE2;
  position:relative;
  
}
nav{
  
  position: absolute;
  bottom: 0px;
  
}
#left{
  width: 20%;
  height:400px;
  background-color:#829E9A;
}
main{
  width: 60%;
  height:400px;
  background-color:#EBCFA9;
  
}
#right{
  width: 20%;
  height:400px;
  background-color:#829E9A;
}
footer{
  width: 100%;
  height:40px;
  background-color:#B5EBE2;
}

@media screen and (max-width:700px){
  #wrapper{
  width: 100%; 
  }
  #container{
    flex-direction: column;
    
  }
  #left{
    width: 100%;
  }
  main{
    width: 100%;
  }
  #right{
    width:100%;
  }
  
}

